USE [DB_A5DA83_corredor]
GO
/****** Object:  Table [dbo].[BDAgentesServicio]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BDAgentesServicio](
	[IdbdAgente] [char](18) NOT NULL,
	[CodigoMVCS] [char](25) NULL,
	[Nombres] [varchar](250) NULL,
	[NumDocumento] [char](18) NULL,
	[Direccion] [varchar](250) NULL,
	[Correo] [varchar](100) NULL,
	[FechaInscripcion] [char](18) NULL,
	[Estado] [char](18) NULL,
 CONSTRAINT [XPKBDAgentesServicio] PRIMARY KEY CLUSTERED 
(
	[IdbdAgente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BDSolicitudes]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BDSolicitudes](
	[IdbdSolicitudes] [char](18) NOT NULL,
	[IdTipoPersona] [char](18) NULL,
	[Telefono] [char](18) NULL,
	[Correo] [varchar](100) NULL,
	[Mensaje] [varchar](255) NULL,
	[Estado] [char](18) NULL,
	[PrimerNombre] [char](18) NULL,
	[SegundoNombre] [char](18) NULL,
	[ApellidoPaterno] [char](18) NULL,
	[ApellidoMaterno] [char](18) NULL,
	[DocumentoID] [char](18) NULL,
	[CodigoMVCS] [varchar](25) NULL,
	[CodigoMVCSPadre] [varchar](25) NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [XPKBDSolicitudes] PRIMARY KEY CLUSTERED 
(
	[IdbdSolicitudes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoPublicacion]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoPublicacion](
	[Id_EstadoPublicacion] [int] NOT NULL,
	[Descripcion] [varchar](100) NULL,
 CONSTRAINT [XPKEstadoPublicacion] PRIMARY KEY CLUSTERED 
(
	[Id_EstadoPublicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificaciones]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificaciones](
	[IdNotificacion] [char](18) NOT NULL,
	[IdUsuario] [char](18) NOT NULL,
	[Des_Detalle] [char](18) NULL,
	[Flg_Tipo] [char](18) NULL,
	[Flg_Estado] [char](18) NULL,
	[IdUsuarioRemitente] [char](18) NULL,
	[FechaCreacion] [char](18) NULL,
	[UsuarioCreacion] [char](18) NULL,
	[FechaModificacion] [char](18) NULL,
	[UsuarioModificacion] [char](18) NULL,
 CONSTRAINT [XPKNotificaciones] PRIMARY KEY CLUSTERED 
(
	[IdNotificacion] ASC,
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[IdPersonal] [char](18) NOT NULL,
	[Des_NombreCompleto] [varchar](250) NULL,
	[Flg_Estado] [int] NULL,
	[FechaCreacion] [datetime] NULL,
	[UsuarioCreacion] [varchar](100) NULL,
	[FechaModificacion] [datetime] NULL,
	[UsuarioModificacion] [varchar](100) NULL,
	[Des_Telefono1] [char](16) NULL,
	[Des_Telefono2] [char](16) NULL,
	[Num_DocumentoID] [varchar](14) NULL,
	[Des_Correo1] [varchar](100) NULL,
	[Des_Correo2] [varchar](100) NULL,
	[CodigoMVCS] [varchar](25) NULL,
	[Des_ComentarioPersona] [text] NULL,
	[Des_Rs_Facebook] [varchar](250) NULL,
	[Des_Rs_Twitter] [varchar](250) NULL,
	[Des_Rs_Linkedin] [varchar](250) NULL,
	[Des_PrimerNombre] [varchar](100) NULL,
	[Des_SegundoNombre] [varchar](100) NULL,
	[Des_ApePaterno] [varchar](100) NULL,
	[Des_AperMaterno] [varchar](100) NULL,
	[IdTipoPersona] [int] NULL,
 CONSTRAINT [XPKPersona] PRIMARY KEY CLUSTERED 
(
	[IdPersonal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonaRelacion_Hist]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonaRelacion_Hist](
	[IdPersonaRelacion] [char](18) NOT NULL,
	[IdPersonalPadre] [varchar](25) NULL,
	[IdPersonal] [varchar](25) NULL,
	[Fec_Inicio] [datetime] NULL,
	[Fec_Fin] [datetime] NULL,
	[Flg_EstadoAfiliado] [int] NULL,
	[FechaCreacion] [datetime] NULL,
	[UsuarioCreacion] [varchar](100) NULL,
	[FechaModificacion] [datetime] NULL,
	[UsuarioModificacion] [varchar](100) NULL,
	[CodigoMVCSPadre] [varchar](25) NULL,
	[CodigoMVCS] [varchar](25) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promocion_Codigos]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promocion_Codigos](
	[IdPromocionCodigos] [char](18) NOT NULL,
	[IdUsuario] [char](18) NOT NULL,
	[CodigoPromocional] [char](18) NULL,
	[Fec_InicioVigencia] [char](18) NULL,
	[Fec_FinVigencia] [char](18) NULL,
	[FechaCreacion] [char](18) NULL,
	[FechaModificacion] [char](18) NULL,
	[Flg_Estado] [char](18) NULL,
 CONSTRAINT [XPKPromocion_Codigos] PRIMARY KEY CLUSTERED 
(
	[IdPromocionCodigos] ASC,
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promocion_Compartir]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promocion_Compartir](
	[IdPromocionCompartir] [char](18) NOT NULL,
	[DocumentoId_Ext] [char](18) NULL,
	[Flg_Estado_Ext] [char](18) NULL,
	[UsuarioCreacion] [char](18) NULL,
	[FechaCreacion] [char](18) NULL,
	[IdUsuario_Ext] [char](18) NULL,
	[IdPromocionCodigos] [char](18) NOT NULL,
	[IdUsuario] [char](18) NOT NULL,
 CONSTRAINT [XPKCompartidas] PRIMARY KEY CLUSTERED 
(
	[IdPromocionCompartir] ASC,
	[IdPromocionCodigos] ASC,
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Properties]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Properties](
	[IdProperty] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[type] [varchar](25) NULL,
	[slug] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProperty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublicacionCabecera]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicacionCabecera](
	[IdPubCabecera] [char](18) NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[UsuarioCreacion] [char](18) NULL,
	[UsuarioModificacion] [char](18) NULL,
	[IdUsuario] [char](18) NOT NULL,
	[Des_Titulo] [varchar](250) NULL,
	[Des_Subtitulo] [varchar](25) NULL,
	[Des_Subtitulo2] [varchar](100) NULL,
	[IdUbigeo] [bigint] NULL,
	[IdTipoOperacion] [int] NULL,
	[IdTipoInmueble] [int] NULL,
	[Des_Urbanizacion] [varchar](100) NULL,
	[Des_AvenidaCalle] [varchar](100) NULL,
	[Des_Numero] [varchar](100) NULL,
	[Flg_MostrarDireccion] [bit] NULL,
	[IdTipoMoneda] [int] NULL,
	[Num_Precio] [decimal](32, 4) NULL,
	[Flg_Consultar] [bit] NULL,
	[IdTipoComision] [int] NULL,
	[Num_Comision] [decimal](34, 4) NULL,
	[Num_ComisionCompartir] [decimal](34, 4) NULL,
	[Num_AreaTotal] [bigint] NULL,
	[Num_AreaTechado] [bigint] NULL,
	[Num_Antiguedad] [int] NULL,
	[Num_Habitaciones] [int] NULL,
	[Num_HabitacionesServicio] [int] NULL,
	[Num_Banios] [int] NULL,
	[Num_BaniosVisita] [int] NULL,
	[Num_Cochera] [int] NULL,
	[Num_Frente] [int] NULL,
	[Num_Fondo] [int] NULL,
	[Flg_Hall] [bit] NULL,
	[Flg_Sala] [bit] NULL,
	[Flg_Comedor] [bit] NULL,
	[Flg_SalonComedor] [bit] NULL,
	[Flg_Cocina] [bit] NULL,
	[Flg_Kitchenette] [bit] NULL,
	[Flg_Lavadero] [bit] NULL,
	[Flg_Terraza] [bit] NULL,
	[Flg_Balcon] [bit] NULL,
	[Flg_WalkingCloset] [bit] NULL,
	[Flg_Guardiania] [bit] NULL,
	[Flg_Looby] [bit] NULL,
	[Flg_Agua] [bit] NULL,
	[Flg_Luz] [bit] NULL,
	[Flg_Cable] [bit] NULL,
	[Flg_Internet] [bit] NULL,
	[Flg_Vigilancia] [bit] NULL,
	[Flg_Gas] [bit] NULL,
	[Des_Coordenadas] [varchar](100) NULL,
	[Des_DireccionManual] [varchar](100) NULL,
	[Des_LinkVideo1] [varchar](250) NULL,
	[Des_LinkVideo2] [varchar](250) NULL,
	[Des_LinkVideo3] [varchar](250) NULL,
 CONSTRAINT [XPKPublicacionCabecera] PRIMARY KEY CLUSTERED 
(
	[IdPubCabecera] ASC,
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublicacionDetalleEstados]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicacionDetalleEstados](
	[IdPubDetalle] [char](18) NOT NULL,
	[IdPubCabecera] [char](18) NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[UsuarioCreacion] [varchar](100) NULL,
	[IdUsuario] [char](18) NOT NULL,
	[Des_MotivoCierre] [varchar](250) NULL,
	[Flg_Activo] [bit] NULL,
	[Id_EstadoPublicacion] [int] NULL,
	[IdTipoMoneda] [int] NULL,
	[NumPrecioVenta] [decimal](32, 4) NULL,
	[IdUsuarioCompartido] [varchar](50) NULL,
 CONSTRAINT [XPKPublicacionDetalleEstados] PRIMARY KEY CLUSTERED 
(
	[IdPubDetalle] ASC,
	[IdPubCabecera] ASC,
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublicacionDetalleImagenes]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicacionDetalleImagenes](
	[IdPubImage] [int] IDENTITY(1,1) NOT NULL,
	[IdPubCabecera] [char](18) NULL,
	[IdUsuario] [char](18) NULL,
	[Descripcion] [char](18) NULL,
	[Des_url] [char](100) NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[UsuarioCreacion] [char](18) NULL,
	[UsuarioModificacion] [char](18) NULL,
	[Flg_Activo] [char](18) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPubImage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResumenAgente]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResumenAgente](
	[Num_Transacciones] [char](18) NULL,
	[Num_Activas] [char](18) NULL,
	[Num_canceladas] [char](18) NULL,
	[FechaModificacion] [char](18) NULL,
	[UsuarioModificacion] [char](18) NULL,
	[FechaCreacion] [char](18) NULL,
	[UsuarioCreacion] [char](18) NULL,
	[Des_NombreCompleto] [char](18) NULL,
	[Des_Ciudad] [char](18) NULL,
	[Des_Numero] [char](18) NULL,
	[Des_Email] [char](18) NULL,
	[Num_Valoracion] [char](18) NULL,
	[IdPersonal] [char](18) NOT NULL,
	[Des_ComentarioPersona] [char](18) NULL,
 CONSTRAINT [XPKResumenAgente] PRIMARY KEY CLUSTERED 
(
	[IdPersonal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suscripcion_Usuario]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suscripcion_Usuario](
	[IdSuscripcion] [char](18) NOT NULL,
	[IdUsuario] [char](18) NOT NULL,
	[IdSuscripcionUsuario] [char](18) NOT NULL,
	[Fec_FechaInicio] [char](18) NULL,
	[Fec_FechaFin] [char](18) NULL,
	[Flg_Estado] [char](18) NULL,
	[FechaCreacion] [char](18) NULL,
	[UsuarioCreacion] [char](18) NULL,
	[FechaModificacion] [char](18) NULL,
	[UsuarioModificacion] [char](18) NULL,
	[IdTipoSuscripcion] [char](18) NOT NULL,
	[Num_MontoPago] [char](18) NULL,
	[Num_Descuento] [char](18) NULL,
	[Des_TipoTarjetaPago] [char](18) NULL,
 CONSTRAINT [XPKSuscripcion_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdSuscripcion] ASC,
	[IdUsuario] ASC,
	[IdSuscripcionUsuario] ASC,
	[IdTipoSuscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuscripcionCabecera]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuscripcionCabecera](
	[IdSuscripcion] [char](18) NOT NULL,
	[Des_Descripcion] [char](18) NULL,
	[Num_Costo] [char](18) NULL,
	[Flg_Estado] [char](18) NULL,
	[FechaCreacion] [char](18) NULL,
	[FechaModificacion] [char](18) NULL,
	[UsuarioModificacion] [char](18) NULL,
	[Num_CanMaxPub] [char](18) NULL,
	[IdTipoSuscripcion] [char](18) NOT NULL,
 CONSTRAINT [XPKSuscripcionCabecera] PRIMARY KEY CLUSTERED 
(
	[IdSuscripcion] ASC,
	[IdTipoSuscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoComision]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoComision](
	[IdTipoComision] [int] NOT NULL,
	[Descripcion] [varchar](100) NULL,
 CONSTRAINT [XPKTipoComision] PRIMARY KEY CLUSTERED 
(
	[IdTipoComision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoInmueble]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoInmueble](
	[IdTipoInmueble] [int] NOT NULL,
	[Descripcion] [varchar](100) NULL,
 CONSTRAINT [XPKTipoInmueble] PRIMARY KEY CLUSTERED 
(
	[IdTipoInmueble] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoInmueble_properties]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoInmueble_properties](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoInmueble] [int] NULL,
	[IdProperty] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoMoneda]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMoneda](
	[IdTipoMoneda] [int] NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Abrev] [varchar](50) NULL,
 CONSTRAINT [XPKTipoMoneda] PRIMARY KEY CLUSTERED 
(
	[IdTipoMoneda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoOperacion]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoOperacion](
	[IdTipoOperacion] [int] NOT NULL,
	[Descripcion] [varchar](100) NULL,
 CONSTRAINT [XPKTipoOperacion] PRIMARY KEY CLUSTERED 
(
	[IdTipoOperacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPersona]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPersona](
	[IdTipoPersona] [int] NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Fechacreacion] [datetime] NULL,
	[UsuarioCreacion] [varchar](50) NULL,
 CONSTRAINT [XPKTipoPersona] PRIMARY KEY CLUSTERED 
(
	[IdTipoPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoSuscripcion]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoSuscripcion](
	[IdTipoSuscripcion] [char](18) NOT NULL,
	[Descriocion] [char](18) NULL,
	[Estado] [char](18) NULL,
 CONSTRAINT [XPKTipoSuscripcion] PRIMARY KEY CLUSTERED 
(
	[IdTipoSuscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubigeo]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubigeo](
	[IdUbigeo] [bigint] NOT NULL,
	[Departamento] [varchar](100) NULL,
	[Provincia] [varchar](100) NULL,
	[Distrito] [char](100) NULL,
	[FullText] [varchar](255) NULL,
 CONSTRAINT [XPKUbigeo] PRIMARY KEY CLUSTERED 
(
	[IdUbigeo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [char](18) NOT NULL,
	[NUsuario] [varchar](50) NULL,
	[NContrasenia] [varchar](60) NULL,
	[Flg_Estado] [int] NULL,
	[FechaModificacion] [datetime] NULL,
	[FechaCreacion] [datetime] NULL,
	[UsuarioCreacion] [varchar](50) NULL,
	[UsuarioModificacion] [varchar](50) NULL,
	[Flg_TipoUsuario] [char](18) NULL,
	[IdPersonal] [char](18) NULL,
 CONSTRAINT [XPKUsuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Valoraciones]    Script Date: 7/7/2020 4:53:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Valoraciones](
	[Num_Valoracion] [char](18) NULL,
	[FechaCreacion] [char](18) NULL,
	[UsuarioCreacion] [char](18) NULL,
	[FechaModificacion] [char](18) NULL,
	[UsuarioModificacion] [char](18) NULL,
	[IdPersonalCalificado] [char](18) NULL,
	[IdPersonal] [char](18) NOT NULL,
 CONSTRAINT [XPKValoraciones] PRIMARY KEY CLUSTERED 
(
	[IdPersonal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BDAgentesServicio] ([IdbdAgente], [CodigoMVCS], [Nombres], [NumDocumento], [Direccion], [Correo], [FechaInscripcion], [Estado]) VALUES (N'00000001          ', N'ERX596                   ', N'Julio García López', N'12345678          ', N'Dolores #123', N'dinodev.master@gmail.com', N'2020-05-04        ', N'INSCRITO          ')
INSERT [dbo].[BDAgentesServicio] ([IdbdAgente], [CodigoMVCS], [Nombres], [NumDocumento], [Direccion], [Correo], [FechaInscripcion], [Estado]) VALUES (N'00000002          ', N'D1ONI1                   ', N'Diego Sanche Cerro', N'1090290023        ', N'villa el calmado , 1190  , lote 29 ', N'diegowarthon1190@gmail.com', N'2019-01-04        ', N'INSCRITO          ')
INSERT [dbo].[BDAgentesServicio] ([IdbdAgente], [CodigoMVCS], [Nombres], [NumDocumento], [Direccion], [Correo], [FechaInscripcion], [Estado]) VALUES (N'00000003          ', N'EX35291                  ', N'Jorge Salcedo Crespo', N'10909230923       ', N'villa el calmado , 1190  , lote 29 ', N'diegowarthon1190@gmail.com', N'2019-04-04        ', N'INSCRITO          ')
INSERT [dbo].[EstadoPublicacion] ([Id_EstadoPublicacion], [Descripcion]) VALUES (1, N'Publicado')
INSERT [dbo].[EstadoPublicacion] ([Id_EstadoPublicacion], [Descripcion]) VALUES (2, N'Borrador')
INSERT [dbo].[EstadoPublicacion] ([Id_EstadoPublicacion], [Descripcion]) VALUES (3, N'Vendido')
INSERT [dbo].[PersonaRelacion_Hist] ([IdPersonaRelacion], [IdPersonalPadre], [IdPersonal], [Fec_Inicio], [Fec_Fin], [Flg_EstadoAfiliado], [FechaCreacion], [UsuarioCreacion], [FechaModificacion], [UsuarioModificacion], [CodigoMVCSPadre], [CodigoMVCS]) VALUES (N'00000003          ', NULL, NULL, CAST(N'2021-05-28T01:32:33.160' AS DateTime), CAST(N'2021-05-28T01:32:33.160' AS DateTime), 1, CAST(N'2021-05-28T01:32:33.160' AS DateTime), N'Administrador', CAST(N'2020-05-28T01:46:45.160' AS DateTime), N'Administrador', N'GY21SD                   ', N'N602H23                  ')
INSERT [dbo].[PersonaRelacion_Hist] ([IdPersonaRelacion], [IdPersonalPadre], [IdPersonal], [Fec_Inicio], [Fec_Fin], [Flg_EstadoAfiliado], [FechaCreacion], [UsuarioCreacion], [FechaModificacion], [UsuarioModificacion], [CodigoMVCSPadre], [CodigoMVCS]) VALUES (N'00000004          ', NULL, NULL, CAST(N'2020-05-29T06:25:24.160' AS DateTime), CAST(N'2021-05-29T06:25:25.160' AS DateTime), 1, CAST(N'2020-05-29T06:25:24.160' AS DateTime), N'Administrador', NULL, NULL, N'DEP00001                 ', NULL)
INSERT [dbo].[PersonaRelacion_Hist] ([IdPersonaRelacion], [IdPersonalPadre], [IdPersonal], [Fec_Inicio], [Fec_Fin], [Flg_EstadoAfiliado], [FechaCreacion], [UsuarioCreacion], [FechaModificacion], [UsuarioModificacion], [CodigoMVCSPadre], [CodigoMVCS]) VALUES (N'00000007          ', NULL, NULL, CAST(N'2020-06-01T09:32:31.160' AS DateTime), CAST(N'2021-06-01T09:32:31.160' AS DateTime), 1, CAST(N'2020-06-01T09:32:31.160' AS DateTime), N'Administrador', NULL, NULL, N'M1PRUEBA02               ', NULL)
SET IDENTITY_INSERT [dbo].[Properties] ON 

INSERT [dbo].[Properties] ([IdProperty], [name], [type], [slug]) VALUES (1, N'Area Total', N'data', N'Num_AreaTotal')
INSERT [dbo].[Properties] ([IdProperty], [name], [type], [slug]) VALUES (2, N'Area Techada', N'data', N'Num_AreaTechado')
INSERT [dbo].[Properties] ([IdProperty], [name], [type], [slug]) VALUES (3, N'Antigüedad', N'data', N'Num_Antiguedad')
SET IDENTITY_INSERT [dbo].[Properties] OFF
INSERT [dbo].[PublicacionDetalleEstados] ([IdPubDetalle], [IdPubCabecera], [FechaCreacion], [UsuarioCreacion], [IdUsuario], [Des_MotivoCierre], [Flg_Activo], [Id_EstadoPublicacion], [IdTipoMoneda], [NumPrecioVenta], [IdUsuarioCompartido]) VALUES (N'00000001          ', N'00000001          ', CAST(N'2020-06-25T05:09:02.000' AS DateTime), NULL, N'00000090          ', NULL, 0, 1, NULL, NULL, NULL)
INSERT [dbo].[PublicacionDetalleEstados] ([IdPubDetalle], [IdPubCabecera], [FechaCreacion], [UsuarioCreacion], [IdUsuario], [Des_MotivoCierre], [Flg_Activo], [Id_EstadoPublicacion], [IdTipoMoneda], [NumPrecioVenta], [IdUsuarioCompartido]) VALUES (N'00000002          ', N'00000002          ', CAST(N'2020-06-27T00:34:22.000' AS DateTime), NULL, N'00000090          ', NULL, 0, 1, NULL, NULL, NULL)
INSERT [dbo].[PublicacionDetalleEstados] ([IdPubDetalle], [IdPubCabecera], [FechaCreacion], [UsuarioCreacion], [IdUsuario], [Des_MotivoCierre], [Flg_Activo], [Id_EstadoPublicacion], [IdTipoMoneda], [NumPrecioVenta], [IdUsuarioCompartido]) VALUES (N'00000003          ', N'00000003          ', CAST(N'2020-06-28T23:12:49.000' AS DateTime), NULL, N'00000090          ', NULL, 0, 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PublicacionDetalleImagenes] ON 

INSERT [dbo].[PublicacionDetalleImagenes] ([IdPubImage], [IdPubCabecera], [IdUsuario], [Descripcion], [Des_url], [FechaCreacion], [FechaModificacion], [UsuarioCreacion], [UsuarioModificacion], [Flg_Activo]) VALUES (1, N'00000008          ', N'00000090          ', NULL, N'/images/publicacion/15934833991.jpeg                                                                ', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[PublicacionDetalleImagenes] ([IdPubImage], [IdPubCabecera], [IdUsuario], [Descripcion], [Des_url], [FechaCreacion], [FechaModificacion], [UsuarioCreacion], [UsuarioModificacion], [Flg_Activo]) VALUES (2, N'00000008          ', N'00000090          ', NULL, N'/images/publicacion/15934833992.jpeg                                                                ', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[PublicacionDetalleImagenes] ([IdPubImage], [IdPubCabecera], [IdUsuario], [Descripcion], [Des_url], [FechaCreacion], [FechaModificacion], [UsuarioCreacion], [UsuarioModificacion], [Flg_Activo]) VALUES (3, N'00000008          ', N'00000090          ', NULL, N'/images/publicacion/15934834251.jpeg                                                                ', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PublicacionDetalleImagenes] OFF
INSERT [dbo].[ResumenAgente] ([Num_Transacciones], [Num_Activas], [Num_canceladas], [FechaModificacion], [UsuarioModificacion], [FechaCreacion], [UsuarioCreacion], [Des_NombreCompleto], [Des_Ciudad], [Des_Numero], [Des_Email], [Num_Valoracion], [IdPersonal], [Des_ComentarioPersona]) VALUES (N'00000001          ', N'2                 ', N'0                 ', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'00000001          ', NULL)
INSERT [dbo].[TipoComision] ([IdTipoComision], [Descripcion]) VALUES (1, N'Monto')
INSERT [dbo].[TipoComision] ([IdTipoComision], [Descripcion]) VALUES (2, N'Porcentaje')
INSERT [dbo].[TipoInmueble] ([IdTipoInmueble], [Descripcion]) VALUES (1, N'Departamento')
INSERT [dbo].[TipoInmueble] ([IdTipoInmueble], [Descripcion]) VALUES (2, N'Casa')
INSERT [dbo].[TipoInmueble] ([IdTipoInmueble], [Descripcion]) VALUES (3, N'Terreno/lote')
SET IDENTITY_INSERT [dbo].[TipoInmueble_properties] ON 

INSERT [dbo].[TipoInmueble_properties] ([id], [IdTipoInmueble], [IdProperty]) VALUES (144, 1, 1)
INSERT [dbo].[TipoInmueble_properties] ([id], [IdTipoInmueble], [IdProperty]) VALUES (145, 1, 2)
INSERT [dbo].[TipoInmueble_properties] ([id], [IdTipoInmueble], [IdProperty]) VALUES (146, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[TipoInmueble_properties] OFF
INSERT [dbo].[TipoMoneda] ([IdTipoMoneda], [Descripcion], [Abrev]) VALUES (1, N'Soles', NULL)
INSERT [dbo].[TipoMoneda] ([IdTipoMoneda], [Descripcion], [Abrev]) VALUES (2, N'Dolares', NULL)
INSERT [dbo].[TipoMoneda] ([IdTipoMoneda], [Descripcion], [Abrev]) VALUES (3, N'Euros', NULL)
INSERT [dbo].[TipoOperacion] ([IdTipoOperacion], [Descripcion]) VALUES (1, N'Venta')
INSERT [dbo].[TipoOperacion] ([IdTipoOperacion], [Descripcion]) VALUES (2, N'Alquiler')
INSERT [dbo].[TipoOperacion] ([IdTipoOperacion], [Descripcion]) VALUES (3, N'Comercial')
INSERT [dbo].[TipoPersona] ([IdTipoPersona], [Descripcion], [Fechacreacion], [UsuarioCreacion]) VALUES (1, N'Corredor Independiente', CAST(N'2020-04-01T00:41:26.323' AS DateTime), N'2020-04-01 00:41:26.323')
INSERT [dbo].[TipoPersona] ([IdTipoPersona], [Descripcion], [Fechacreacion], [UsuarioCreacion]) VALUES (2, N'Corredor Dependiente', CAST(N'2020-04-01T00:41:26.323' AS DateTime), N'2020-04-01 00:41:26.323')
INSERT [dbo].[TipoPersona] ([IdTipoPersona], [Descripcion], [Fechacreacion], [UsuarioCreacion]) VALUES (3, N'Broker Empresa', CAST(N'2020-04-01T00:41:26.323' AS DateTime), N'2020-04-01 00:41:26.323')
INSERT [dbo].[Ubigeo] ([IdUbigeo], [Departamento], [Provincia], [Distrito], [FullText]) VALUES (101, N'Lima', N'Lima', N'Miraflores                                                                                          ', N'Lima, Lima, Miraflores')
INSERT [dbo].[Ubigeo] ([IdUbigeo], [Departamento], [Provincia], [Distrito], [FullText]) VALUES (102, N'Lima', N'Lima', N'La Molina                                                                                           ', N'Lima, Lima, La Molina')
INSERT [dbo].[Ubigeo] ([IdUbigeo], [Departamento], [Provincia], [Distrito], [FullText]) VALUES (103, N'Lima', N'Lima', N'Surco                                                                                               ', N'Lima, Lima, Surco')
INSERT [dbo].[Usuario] ([IdUsuario], [NUsuario], [NContrasenia], [Flg_Estado], [FechaModificacion], [FechaCreacion], [UsuarioCreacion], [UsuarioModificacion], [Flg_TipoUsuario], [IdPersonal]) VALUES (N'00000001          ', N'Administrador', N'$2y$10$P4Q8Qe9oO9fvRGRcNkZQzeVuJ49zhQghKmopplFK9rSxTGAj8mT8a', NULL, NULL, NULL, NULL, NULL, NULL, N'00000001          ')
INSERT [dbo].[Usuario] ([IdUsuario], [NUsuario], [NContrasenia], [Flg_Estado], [FechaModificacion], [FechaCreacion], [UsuarioCreacion], [UsuarioModificacion], [Flg_TipoUsuario], [IdPersonal]) VALUES (N'00000002          ', N'D1ONI1                   ', N'$2y$10$2NI7DvydTWDw6QlRxJh5RuXgtXkkWMmwdinmLVdpX/O2MC3k7gJ5a', NULL, NULL, NULL, NULL, NULL, NULL, N'00000002          ')
INSERT [dbo].[Usuario] ([IdUsuario], [NUsuario], [NContrasenia], [Flg_Estado], [FechaModificacion], [FechaCreacion], [UsuarioCreacion], [UsuarioModificacion], [Flg_TipoUsuario], [IdPersonal]) VALUES (N'00000004          ', N'EX35291                  ', N'$2y$10$2oy8NqErA5vByl5q0TAxXuZ1TX4a7TMbcoEVL6.4vixAp4Ix2OAyK', NULL, NULL, NULL, NULL, NULL, NULL, N'00000004          ')
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [R_15] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Notificaciones] CHECK CONSTRAINT [R_15]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [R_42] FOREIGN KEY([IdTipoPersona])
REFERENCES [dbo].[TipoPersona] ([IdTipoPersona])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [R_42]
GO
ALTER TABLE [dbo].[Promocion_Codigos]  WITH CHECK ADD  CONSTRAINT [R_39] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Promocion_Codigos] CHECK CONSTRAINT [R_39]
GO
ALTER TABLE [dbo].[Promocion_Compartir]  WITH CHECK ADD  CONSTRAINT [R_40] FOREIGN KEY([IdPromocionCodigos], [IdUsuario])
REFERENCES [dbo].[Promocion_Codigos] ([IdPromocionCodigos], [IdUsuario])
GO
ALTER TABLE [dbo].[Promocion_Compartir] CHECK CONSTRAINT [R_40]
GO
ALTER TABLE [dbo].[PublicacionCabecera]  WITH CHECK ADD  CONSTRAINT [R_22] FOREIGN KEY([IdUbigeo])
REFERENCES [dbo].[Ubigeo] ([IdUbigeo])
GO
ALTER TABLE [dbo].[PublicacionCabecera] CHECK CONSTRAINT [R_22]
GO
ALTER TABLE [dbo].[PublicacionCabecera]  WITH CHECK ADD  CONSTRAINT [R_23] FOREIGN KEY([IdTipoOperacion])
REFERENCES [dbo].[TipoOperacion] ([IdTipoOperacion])
GO
ALTER TABLE [dbo].[PublicacionCabecera] CHECK CONSTRAINT [R_23]
GO
ALTER TABLE [dbo].[PublicacionCabecera]  WITH CHECK ADD  CONSTRAINT [R_24] FOREIGN KEY([IdTipoInmueble])
REFERENCES [dbo].[TipoInmueble] ([IdTipoInmueble])
GO
ALTER TABLE [dbo].[PublicacionCabecera] CHECK CONSTRAINT [R_24]
GO
ALTER TABLE [dbo].[PublicacionCabecera]  WITH CHECK ADD  CONSTRAINT [R_25] FOREIGN KEY([IdTipoMoneda])
REFERENCES [dbo].[TipoMoneda] ([IdTipoMoneda])
GO
ALTER TABLE [dbo].[PublicacionCabecera] CHECK CONSTRAINT [R_25]
GO
ALTER TABLE [dbo].[PublicacionCabecera]  WITH CHECK ADD  CONSTRAINT [R_26] FOREIGN KEY([IdTipoComision])
REFERENCES [dbo].[TipoComision] ([IdTipoComision])
GO
ALTER TABLE [dbo].[PublicacionCabecera] CHECK CONSTRAINT [R_26]
GO
ALTER TABLE [dbo].[PublicacionCabecera]  WITH CHECK ADD  CONSTRAINT [R_3] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[PublicacionCabecera] CHECK CONSTRAINT [R_3]
GO
ALTER TABLE [dbo].[PublicacionDetalleEstados]  WITH CHECK ADD  CONSTRAINT [R_2] FOREIGN KEY([IdPubCabecera], [IdUsuario])
REFERENCES [dbo].[PublicacionCabecera] ([IdPubCabecera], [IdUsuario])
GO
ALTER TABLE [dbo].[PublicacionDetalleEstados] CHECK CONSTRAINT [R_2]
GO
ALTER TABLE [dbo].[PublicacionDetalleEstados]  WITH CHECK ADD  CONSTRAINT [R_27] FOREIGN KEY([Id_EstadoPublicacion])
REFERENCES [dbo].[EstadoPublicacion] ([Id_EstadoPublicacion])
GO
ALTER TABLE [dbo].[PublicacionDetalleEstados] CHECK CONSTRAINT [R_27]
GO
ALTER TABLE [dbo].[PublicacionDetalleImagenes]  WITH CHECK ADD FOREIGN KEY([IdPubCabecera], [IdUsuario])
REFERENCES [dbo].[PublicacionCabecera] ([IdPubCabecera], [IdUsuario])
GO
ALTER TABLE [dbo].[Suscripcion_Usuario]  WITH CHECK ADD  CONSTRAINT [R_6] FOREIGN KEY([IdSuscripcion], [IdTipoSuscripcion])
REFERENCES [dbo].[SuscripcionCabecera] ([IdSuscripcion], [IdTipoSuscripcion])
GO
ALTER TABLE [dbo].[Suscripcion_Usuario] CHECK CONSTRAINT [R_6]
GO
ALTER TABLE [dbo].[Suscripcion_Usuario]  WITH CHECK ADD  CONSTRAINT [R_7] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Suscripcion_Usuario] CHECK CONSTRAINT [R_7]
GO
ALTER TABLE [dbo].[SuscripcionCabecera]  WITH CHECK ADD  CONSTRAINT [R_28] FOREIGN KEY([IdTipoSuscripcion])
REFERENCES [dbo].[TipoSuscripcion] ([IdTipoSuscripcion])
GO
ALTER TABLE [dbo].[SuscripcionCabecera] CHECK CONSTRAINT [R_28]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [R_33] FOREIGN KEY([IdPersonal])
REFERENCES [dbo].[Persona] ([IdPersonal])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [R_33]
GO
ALTER TABLE [dbo].[Valoraciones]  WITH CHECK ADD  CONSTRAINT [R_35] FOREIGN KEY([IdPersonal])
REFERENCES [dbo].[Persona] ([IdPersonal])
GO
ALTER TABLE [dbo].[Valoraciones] CHECK CONSTRAINT [R_35]
GO
